# Rock Paper Scissors Spock Lizard Game

**Haoyu Yue, Master of Urban Planning, University of Washington**

### Set the strategies and rules

In [11]:
import pandas as pd

In [12]:
strategies=["Rock","Paper","Scissors","Spock","Lizard"]

In [13]:
payoff={("Scissors","Paper"):(1,0),
        ("Paper","Rock"):(1,0),
        ("Rock","Lizard"):(1,0),
        ("Lizard","Spock"):(1,0),
        ("Spock","Scissors"):(1,0),
        ("Scissors","Lizard"):(1,0),
        ("Lizard","Paper"):(1,0),
        ("Paper","Spock"):(1,0),
        ("Spock","Rock"):(1,0),
        ("Rock","Scissors"):(1,0),
        ("Scissors","Rock"):(0,1),
        ("Rock","Spock"):(0,1),
        ("Spock","Paper"):(0,1),
        ("Paper","Lizard"):(0,1),
        ("Lizard","Scissors"):(0,1),
        ("Scissors","Spock"):(0,1),
        ("Spock","Lizard"):(0,1),
        ("Lizard","Rock"):(0,1),
        ("Rock","Paper"):(0,1),
        ("Paper","Scissors"):(0,1),
        ("Scissors","Scissors"):(0,0),
        ("Paper","Paper"):(0,0),
        ("Rock","Rock"):(0,0),
        ("Lizard","Lizard"):(0,0),
        ("Spock","Spock"):(0,0),}

In [14]:
# Choose a strategy ramdomly
from random import choice
choice(strategies)

'Rock'

### Add all players

In [15]:
names=['Jim','Jane','Peter','Zoe','Paul','Brigitte','Alex','Chris','Tom']

In [16]:
# Create the society
society=[{'name':n,'score':0,'strategy':None} for n in names]
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Paul', 'score': 0, 'strategy': None},
 {'name': 'Brigitte', 'score': 0, 'strategy': None},
 {'name': 'Alex', 'score': 0, 'strategy': None},
 {'name': 'Chris', 'score': 0, 'strategy': None},
 {'name': 'Tom', 'score': 0, 'strategy': None}]

### Pair all players

In [18]:
import itertools 
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Paul', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Brigitte', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Paul', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Alex', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Brigitte', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Chris', 'score': 0, 'strategy': None}
{'name': 'Alex', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}
{'name': 'Chris', 'score': 0, 'strategy': None} {'name': 'Tom', 'score': 0, 'strategy': None}

### Play the game

In [19]:
for player1,player2 in itertools.combinations(society,2):
    player1['strategy']=choice(strategies)
    player2['strategy']=choice(strategies)
    result=payoff[player1['strategy'],player2['strategy']]
    player1['score']+=result[0]
    player2['score']+=result[1]

### Show the result

In [20]:
# Only the list
society

[{'name': 'Jim', 'score': 4, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 3, 'strategy': 'Lizard'},
 {'name': 'Peter', 'score': 3, 'strategy': 'Lizard'},
 {'name': 'Zoe', 'score': 5, 'strategy': 'Lizard'},
 {'name': 'Paul', 'score': 5, 'strategy': 'Lizard'},
 {'name': 'Brigitte', 'score': 4, 'strategy': 'Lizard'},
 {'name': 'Alex', 'score': 2, 'strategy': 'Paper'},
 {'name': 'Chris', 'score': 2, 'strategy': 'Spock'},
 {'name': 'Tom', 'score': 2, 'strategy': 'Lizard'}]

In [21]:
# Table
socialResults=pd.DataFrame(society)
socialResults

       name  score strategy
0       Jim      4    Paper
1      Jane      3   Lizard
2     Peter      3   Lizard
3       Zoe      5   Lizard
4      Paul      5   Lizard
5  Brigitte      4   Lizard
6      Alex      2    Paper
7     Chris      2    Spock
8       Tom      2   Lizard

In [22]:
# Who is winner?
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]
winner

   name  score strategy
3   Zoe      5   Lizard
4  Paul      5   Lizard

In [23]:
# Who is loser?
filter2=socialResults.score==socialResults.score.min()
loser=socialResults[filter2]
loser

    name  score strategy
6   Alex      2    Paper
7  Chris      2    Spock
8    Tom      2   Lizard