# Rock Paper Scissors Spock Lizard Game

**Haoyu Yue, Master of Urban Planning, University of Washington**

### Set the strategies and rules

In [32]:
import pandas as pd

In [3]:
strategies=["Rock","Paper","Scissors","Spock","Lizard"]

In [23]:
payoff={("Scissors","Paper"):(1,0),
        ("Paper","Rock"):(1,0),
        ("Rock","Lizard"):(1,0),
        ("Lizard","Spock"):(1,0),
        ("Spock","Scissors"):(1,0),
        ("Scissors","Lizard"):(1,0),
        ("Lizard","Paper"):(1,0),
        ("Paper","Spock"):(1,0),
        ("Spock","Rock"):(1,0),
        ("Rock","Scissors"):(1,0),
        ("Scissors","Rock"):(0,1),
        ("Rock","Spock"):(0,1),
        ("Spock","Paper"):(0,1),
        ("Paper","Lizard"):(0,1),
        ("Lizard","Scissors"):(0,1),
        ("Scissors","Spock"):(0,1),
        ("Spock","Lizard"):(0,1),
        ("Lizard","Rock"):(0,1),
        ("Rock","Paper"):(0,1),
        ("Paper","Scissors"):(0,1),
        ("Scissors","Scissors"):(0,0),
        ("Paper","Paper"):(0,0),
        ("Rock","Rock"):(0,0),
        ("Lizard","Lizard"):(0,0),
        ("Spock","Spock"):(0,0),}

In [24]:
# Choose a strategy ramdomly
from random import choice
choice(strategies)

'Rock'

### Add all players

In [25]:
names=['Jim','Jane','Peter','Zoe','Paul','Brigitte','Alex','Chris','Tom']

In [26]:
society=[{'name':n,'score':0,'strategy':None} for n in names]
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Paul', 'score': 0, 'strategy': None},
 {'name': 'Brigitte', 'score': 0, 'strategy': None},
 {'name': 'Alex', 'score': 0, 'strategy': None},
 {'name': 'Chris', 'score': 0, 'strategy': None},
 {'name': 'Tom', 'score': 0, 'strategy': None}]

### Pair all players

In [27]:
import itertools 
for player1,player2 in itertools.combinations(society,2):
    print(pair)

({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})
({'name': 'Chris', 'score': 0, 'strategy': None}, {'name': 'Tom', 'score': 0, 'strategy': None})

### Play the game

In [28]:
society=[{'name':n,'score':0,'strategy':None} for n in names]

for player1,player2 in itertools.combinations(society,2):
    player1['strategy']=choice(strategies)
    player2['strategy']=choice(strategies)
    result=payoff[player1['strategy'],player2['strategy']]
    player1['score']+=result[0]
    player2['score']+=result[1]

### Show the result

In [30]:
society

[{'name': 'Jim', 'score': 4, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 2, 'strategy': 'Spock'},
 {'name': 'Peter', 'score': 2, 'strategy': 'Rock'},
 {'name': 'Zoe', 'score': 2, 'strategy': 'Rock'},
 {'name': 'Paul', 'score': 5, 'strategy': 'Paper'},
 {'name': 'Brigitte', 'score': 4, 'strategy': 'Lizard'},
 {'name': 'Alex', 'score': 3, 'strategy': 'Spock'},
 {'name': 'Chris', 'score': 1, 'strategy': 'Lizard'},
 {'name': 'Tom', 'score': 4, 'strategy': 'Rock'}]

In [33]:
socialResults=pd.DataFrame(society)
socialResults

       name  score strategy
0       Jim      4    Paper
1      Jane      2    Spock
2     Peter      2     Rock
3       Zoe      2     Rock
4      Paul      5    Paper
5  Brigitte      4   Lizard
6      Alex      3    Spock
7     Chris      1   Lizard
8       Tom      4     Rock

In [35]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

   name  score strategy
4  Paul      5    Paper

In [36]:
filter2=socialResults.score==socialResults.score.min()
loser=socialResults[filter2]

#social outcome
loser

    name  score strategy
7  Chris      1   Lizard